*{box-sizing:border-box}
body{margin:0;background:#050505;color:white;font-family:tahoma}
header{display:flex;justify-content:space-between;align-items:center;padding:20px;border-bottom:1px solid #d99b00}
.logo{font-size:30px;font-weight:bold}
.logo span,h1,h2,h3{color:#ffb000}
nav a{color:white;margin:10px;text-decoration:none}
.hero{text-align:center;padding:80px 20px;background:linear-gradient(#0008,#000)}
.hero h1{font-size:42px}
button{background:#ffb000;border:0;border-radius:10px;padding:14px 35px;font-size:18px}
.title{text-align:center;margin:40px}
.products{display:flex;gap:20px;padding:20px;justify-content:center}
.product{width:300px;border:1px solid #ffb000;border-radius:20px;padding:30px;text-align:center;background:#111}
.img{font-size:60px}
footer{text-align:center;padding:40px;color:#aaa}
@media(max-width:700px){header{display:block;text-align:center}nav{margin-top:20px}.products{display:block}.product{width:90%;margin:20px auto}.hero h1{font-size:30px}}